# Ignorar todo por defecto
*

# No ignorar archivos de configuración de Git
!.gitignore
!.gitattributes

# No ignorar manifest.json
!manifest.json
!resolvers.json

# No ignorar la carpeta providers y sus contenidos
!providers/
!providers/**
!resolvers/
!resolvers/*
